<!DOCTYPE html>
<html>
<head>
    <title>{{ WAFER_CONFERENCE_NAME }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/wafer.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/pyconza2014.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon">
    <link href="//fonts.googleapis.com/css?family=Londrina+Solid|Pacifico|Oswald|PT+Sans" rel="stylesheet" type="text/css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include "wafer/nav.html" %}
    <div id="wrap">
        <div id="main" class="container">
{% block content %}
    <h1>{{ WAFER_CONFERENCE_NAME }}</h1>
{% endblock %}
        </div>
        <div id="logos">
            <a href="http://www.praekeltfoundation.org/" target="_blank"><img src="{{ STATIC_URL }}img/logo_pf.png" /></a>
            <a href="http://unomena.com/" target="_blank"><img src="{{ STATIC_URL }}img/logo_unomena.png" /></a>
        </div>
        <div id="legal">&copy; 2014 PyCon ZA.</div>
        <div id="credits">PyConZA brought to you by <a href="http://www.praekeltfoundation.org/" target="_blank">Praekelt Foundation</a></div>
        <div id="logo_bottom"><img src="{{ STATIC_URL }}img/logo_bottom.png" /></div>
    </div>
    <div id="footer">
        <a href="https://github.com/CTPUG/pyconza2014">Pull requests</a> welcome.
    </div>
    <script src="{{ STATIC_URL }}jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.anythingslider.min.js"></script>
    <script src="{{ STATIC_URL }}js/script.js?v=1"></script>
    {% block extra_foot %}{% endblock %}
</body>
</html>
