.container-fluid{
    padding-top: 0;
}

.navbar {
    margin-bottom: 0;
}

.pull-right {
    margin: 0;
}

@media only screen and (max-device-width: 768px){
    #footer {
        position: static;
    }
}
