html, body {
}

body {
	font-size: 16px;
}

#wrap {
  min-height: 100%;
  /* put the background behind the clouds -- see CLOUDS further down */
  background: url('../img/clouds_bottom.png'), url('../img/clouds_top.png'), url('../img/pattern.jpg'), #fff;
  background-repeat: no-repeat, no-repeat, repeat, repeat;
  background-position: bottom center, top center, 0 0, 0 0;
}

#main {
  color: white;
}

#main .popover-content, #main .popover-title {
  color: black;
}

#main .form-actions {
  background: inherit;
  border: none;
  padding: 0px;
}

#main .well {
  color: black;
}

#logos {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logos img {
  padding: 10px 20px;
}

#legal {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
  color: #cc6714;
  text-transform: uppercase;
  padding-bottom: 15px;
}

#credits {
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  line-height: 22px;
  padding-bottom: 20px;
}

#credits a {
	color: #fed43c;
}

#logo_bottom {
  /* this padding needs to be big enough to avoid clouds_bottom.png covering text. */
  padding-bottom: 199px;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  background: #000;
  color: white;
  width: 100%;
  clear: both;
  padding: 10px 0px;
  text-align: center;
  z-index: 100;
}

.wafer.list div:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.wafer.list div:nth-child(2n + 1) {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

/* fix icons on top nav bar */
ul.nav li.icon a {
  padding: 6px;
}

 /* override buttons */
 .btn-primary {
    background-color: #cc6714;
    background-image: linear-gradient(to bottom, #cc6714, #cc6714);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #cc6714;
    color: #FFFFFF;
}

a { color: #cc6714; }
a:hover, a:focus { color: #cc6714; }
    /* NAV */
    .navbar-inverse .navbar-brand, .navbar-inverse .nav > li > a { color: #fff; text-transform: uppercase; font-size: 18px; font-family: 'Oswald',sans-serif; }
    .navbar-inverse .navbar-brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .navbar-brand:focus, .navbar-inverse .nav > li > a:focus { color: #fed43c; }
    .navbar .nav > li > a { padding: 10px 13px; }
    .navbar .navbar-brand { padding: 10px 15px; }
    .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret { display: none; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { color: #181f29; background-color: #fed43c; background-image: linear-gradient(to bottom, #fed43c, #fed43c); }

    /* MAIN */
    .main { width: 940px; float: left; z-index: 3; }
        .main h1 { margin: 0; padding: 0 24px; line-height: 47px; background: #1a1f29; font-family: 'Londrina Solid', cursive; font-size: 30px; font-weight: normal; color: #fed43c; text-transform: uppercase; }
        /* added styling on id to style the Sponsor h1 */
        #main h1 { margin: 0; padding: 0 24px; line-height: 47px; background: #1a1f29; font-family: 'Londrina Solid', cursive; font-size: 30px; font-weight: normal; color: #fed43c; text-transform: uppercase; }
        .content { width: 700px; float: left; padding: 14px 0 0 0; position: relative; z-index: 5; background: url('../img/jagged_content_top.png') no-repeat; }
            .content .body { width: 680px; float: left; padding: 0 10px 10px 10px; background: #fff; }
            .content .inner { width: 632px; float: left; padding: 14px 24px 24px 24px; font-family: PT Sans, sans-serif; }
            .content .inner h2 { margin: 30px 0 24px 0; font-family: 'Oswald', sans-serif; font-size: 22px; color: #1a1f29; text-transform: uppercase; line-height: 24px; }
            .content .item { width: 632px; float: left; margin: 0 0 20px 0; }
            .content .item .item_body { width: 296px; float: left; }
        .wide { width: 940px; float: left; padding: 14px 0 0 0; position: relative; z-index: 5; background: url('../img/jagged_wide_top.png') no-repeat; }
            .wide .body { width: 920px; float: left; padding: 0 10px 10px 10px; background: #fff; }
            .wide .inner { width: 872px; float: left; padding: 14px 24px 24px 24px; font-family: PT Sans, sans-serif; color: #666; }
            .wide .inner h2 { margin: 30px 0 24px 0; font-family: 'Oswald', sans-serif; font-size: 22px; color: #1a1f29; text-transform: uppercase; line-height: 26px; }
            .wide .item { width: 852px; float: left; margin: 0 0 20px 0; }
            .wide .grid { width: 872px; float: left; }
            .wide .grid .block { width: 270px; float: left; margin: 0 31px 10px 0; }
            .wide .grid .block:nth-child(3n) { margin-right: 0; }
        .body h1 { margin: 10px 0 0; padding: 0 24px; line-height: 47px; background: #1a1f29; font-family: 'Londrina Solid', cursive; font-size: 30px; font-weight: normal; color: #fed43c; text-transform: uppercase; }
        .wafer.list h2 { color: #cc6714; }
        .pull-right{ margin:8px;}

    /* REGISTRATION TABLE */
    table { width: 100%; }
        table tr { border-bottom: 2px solid #fff; }
        table th,
        table td { padding: 8px 12px; text-align: left; border-right: 2px solid #fff; background: #dfe6ec; font-size: 16px; color: #666; }
        table td.title { background: #cc6714; font-family: 'Oswald', sans-serif; font-size: 16px; color: #1a1f29; text-transform: uppercase; line-height: 26px; }
        /* Use a darker background for unavailable venues in the schedule */
        table td.unavailable { background: #444444; font-family: 'Oswald', sans-serif; font-size: 16px; color: #1a1f29; text-transform: uppercase; line-height: 26px; }
        table th { background: #fed43c; color: #181f29; font-weight: normal; vertical-align: top; }
        table th span { font-family: 'Oswald', sans-serif; font-size: 16px; font-weight: bold; color: #1a1f29; text-transform: uppercase; line-height: 26px; }

    /* REGISTRATION PAGES */
    .container-fluid { padding-top: 14px; padding-right: 0; padding-left: 0; color: #666666; background: url("../img/jagged_wide_top.png") no-repeat; }
    .row-fluid { width: 920px; padding: 0 10px 10px; background: #fff; }
    .container-fluid .row-fluid h2 { margin: 0 0 10px; padding: 0 24px; color: #fed43c; font-family: 'Londrina Solid',cursive; font-size: 30px; font-weight: normal; line-height: 47px; text-transform: uppercase; background: none repeat scroll 0 0 #1A1F29; }
    .container-fluid .row-fluid .span6 p { margin: 10px 0; }
    form { margin: 0 0 20px; padding: 10px; color: #666; background: #fff; }
